@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
  min-height: 100vh;
  padding: 0 15px;
}
.facebook-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
}

.facebook-page .text {
  margin-bottom: 90px;
}

.facebook-page h1 {
  font-size: 4rem;
  color: blue;
  margin-bottom: 15px;
}

.facebook-page p {
  font-size: 1.8rem;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2);
}
form input {
  height: 55px;
  width: 100%;
  padding: 0 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  margin-bottom: 15px;
}

form input:focus {
  border-color: blue;
  border-radius: 2rem;
}

::placeholder {
  font-size: 1.063rem;
}
.login-link {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 15px;
}
.login-link .login-btn {
  padding: 15px;
  font-size: 1rem;
  outline: none;
  border: none;
  font-weight: 600;
  background-color: blue;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}
.login-link .login-btn:hover {
  background-color: #1b1bb8;
}

form a {
  text-decoration: none;
}

.login-link .forgot-password:hover {
  text-decoration: underline;
}

hr {
  border: none;
  background-color: #ccc;
  height: 1px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.create-account {
  margin-top: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.create-account a {
  padding: 15px 20px;
  background-color: #0eb80e;
  border-radius: 8px;
  color: #fff;
  font-size: 1.063rem;
  font-weight: 600;
  transition: 0.2 ease;
}
.create-account a:hover {
  background-color: #129e12;
}

@media (max-width: 900px) {
  .facebook-page {
    flex-direction: column;
    text-align: center;
  }
  .facebook-page .text {
    margin-bottom: 30px;
  }
}

@media (max-width: 460px) {
  .facebook-page h1 {
    font-size: 1.3rem;
  }
  .facebook-page p {
    font-size: 1.3rem;
  }

  form {
    padding: 15px;
  }
}
